
         .btn-grad {background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         
          body{
            background: linear-gradient(90deg, rgba(184,186,9,1) 0%, rgba(240,236,22,1) 7%, rgba(255,247,0,1) 11%, rgba(255,247,0,1) 27%, rgba(255,162,3,1) 50%, rgba(255,60,2,1) 72%, rgba(255,41,1,1) 81%, rgba(231,30,18,1) 94%, rgba(199,5,5,1) 100%);
            text-align: center;
            font-family: 'Source Code Pro', monospace;
          }
          


